<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/(home:home)"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div class="uk-child-width-expand@m uk-text-center uk-padding " uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-media-top">
                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow>
                    <ul class="uk-slideshow-items">
                        <li *ngFor="let image of product.media">
                            <img src="{{mediaPath + image.path}}" alt="" uk-cover>
                        </li>
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                        uk-slideshow-item="next"></a>

                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-lead uk-padding-botton uk-padding-small">{{product.title}}</div>
                <div class="uk-text-lead uk-padding-botton uk-padding uk-text-right uk-padding-remove-bottom">R${{product.price
                    | number: '0.2-2'}}</div>
                <div class="uk-comment uk-text-right uk-padding uk-padding-remove-top uk-padding-remove-bottom">{{product.cashDiscount}}%
                    de desconto a vista</div>
                <article class="uk-comment uk-text-right uk-padding uk-padding-remove-top">Ou {{product.parcel}}x de
                    R${{getParcel(product.price, product.parcel, product.cashDiscount) | number: '0.2-2'}}</article>
                <div class="btn-s">
                    <div class="uk-padding-small uk-padding-remove-right">
                        <button class="uk-button uk-button-default">Comprar</button>
                        <button class="uk-button uk-button-primary" (click)="addCarrinho()">Adicionar ao carrinho</button>
                    </div>
                </div>
                <div class="uk-padding-small">
                    <article class="uk-comment uk-comment-primary uk-text-left">{{product.description}}</article>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-padding">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">
                    produto relacionado
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">
                    produto relacionado
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">
                    produto relacionado
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">
                    produto relacionado
                </div>
            </div>
        </div>
    </div>
</ion-content>