.page {
    padding-top: 1rem;
    background-image: url("https://avatars.mds.yandex.net/get-pdb/231404/eb784cd8-79d7-43d5-a4ff-5ab5471d0755/orig");
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}
 