<ion-content padding>
<ion-grid class="products">
        <ion-row class="row">
            <div class="col-lg-3 col-md-4 col-sm-6  uk-padding" *ngFor="let product of products">
                <div class="uk-card uk-card-default uk-box-shadow-large uk-padding-remove-top">
                    <div class="uk-card-media-top">
                        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow>

                            <ul class="uk-slideshow-items">
                                <li *ngFor="let image of product.media">
                                    <img src="{{mediaPath + image.path}}" alt="" uk-cover>
                                </li>
                            </ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                                uk-slidenav-previous uk-slideshow-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                                uk-slidenav-next uk-slideshow-item="next"></a>

                        </div>
                    </div>
                    <div class="uk-card-body uk-padding-small">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{product.title}}</h3>
                        <p class="uk-margin-remove-top">{{product.ageCategory}}</p>
                        <p class="uk-text-right">R$ {{product.price | number: '0.2-2'}}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-button uk-button-text" routerLink="/produtos/{{product.id}}">Comprar</a>
                    </div>
                </div>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>