<nav class="uk-navbar-container menu-desktop" uk-navbar>
  <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
          <li class="uk-active"><a routerLink="/admin">Home</a></li>
          <li>
              <a routerLink="/admin/produtos"><span uk-icon="icon: cart"></span>Produto</a>
              <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li routerLinkActive="active"><a routerLink="/admin/produtos/novo"><span uk-icon="icon: plus"></span>Novo Produto</a></li>
                      <li routerLinkActive="active"><a routerLink="/admin/produtos"><span uk-icon="icon: list"></span>Listar Produtos</a></li>
                  </ul>
              </div>
          </li>
          <li>
            <a href="#"><span uk-icon="icon: user"></span>Usuario</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#"><span uk-icon="icon: plus"></span> Novo Usuario</a></li>
                  <li><a href="#"><span uk-icon="icon: users"></span> Listar Usuario</a></li>
              </ul>
          </div>
          </li>
          <li>
            <a routerLink="/admin/vendas"><span uk-icon="icon: table"></span> Vendas</a>
          </li>
      </ul>

  </div>
</nav>