<nav class="uk-navbar-container menu-mobile" uk-navbar>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" class="buttom-menu">
        <a routerLink="/"><span uk-icon="home"></span></a>
      </li>
      <li routerLinkActive="active" class="uk-parent buttom-menu">
        <a routerLink="/produtos"><span uk-icon="laptop"></span></a>
      </li>
      <li routerLinkActive="active" class="buttom-menu">
        <a routerLink="/carrinho"><span uk-icon="cart"></span></a>
      </li>

    </ul>
  </div>
</nav>